!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Thinventions'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Thinventions'}"}
    %link{:href=>'http://fonts.googleapis.com/css?family=Raleway:500|Pacifico', :rel=>"stylesheet", :type=> 'text/css'}

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield

    .logo#logoBottom="thinventions.com"